@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MuseoSans";
    src: local("font")
    url("./assets/fonts/MuseoSansRounded.otf") format("truetype");
    font-weight: 500;
}


@font-face {
    font-family: "MuseoSans";
    src: local("font")
    url("./assets/fonts/MuseoSansRoundedBold.otf") format("truetype");
    font-weight: 900;
}

body {
    font-family: "MuseoSans";
    font-weight: 500 !important;
}